@media (max-width: 1700px) {
  .nav {
    &__list {
      padding-left: 0%;
      justify-content: center;
      gap: 0 40px;
    }
  }

  .header__body-content {
    margin-left: 150px;
}
}

@media (max-width: 1550px) {
  .splide__pagination {
    display: flex;
    gap: 70px;
    transform: translateY(50px);
  }
  .header{
  
  &__body-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-width: 826px;
  }  
  &__body-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__col-number {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: var(--brown);
    transition: all .5s;
    z-index: 1;
  }
  
  &__col-number:hover {
    filter: drop-shadow(0 5px 20px var(--brown));
  }
}

#header-img-slider {
  max-height: 580px;
}

#header-img-slider2 {
  width: 450px;
  transform: translateX(0px);
}
#header-img-slider4 {
  width: 650px;
  transform: translateY(-10%);
}

#header__col-number4 {
  transform: translateY(-0%);
}

#header-img-slider6 {
  max-height: 500px;
  transform: translateY(0%);
}

#header__col-number6 {
  transform: translateY(0%);
}
}

@media (max-width: 1200px) {

  .header {
    &__top-inner {
      grid-template-columns: auto 1fr auto;
      justify-content: space-between;
      padding: 25px 15px 130px;
    }

    &__geolocation {
      justify-self: center;
    }   
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all .5s;
    transform: translateX(50%);
    

    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    &__item {
      border-top: 1px solid var(--brown);
      padding: 40px;
      width: 100%;
    }
    &__item:last-child {
      border-bottom: 1px solid var(--brown);
    }

    &__item:nth-child(3) {
      display: none;
    }
  }


  .additional {
    &__nav-list {
      display: none;
    }
  }

  .accordion-list {
    display: block;
  }


  .body--opened-menu .header__top-inner {
    grid-template-columns: 1fr auto;
  }
  .body--opened-menu .header__logo {
    justify-self: center;
    transform: translateX(24px);
  }
  .body--opened-menu .header__geolocation {
    display: none;
  }

  .body--opened-menu .nav {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    background: var(--orange);
    
  }
  .body--opened-menu .nav__list {
    color: #fff;
    transform: translateY(10%);
  }
  .nav__link--nav path {
    transition: all .5s;
    stroke: #fff;
    fill: #fff;
  }

  .burger-icon {
    display: flex
  }
}

@media (max-width: 1100px) {
  .header{ 
    &__top-inner{
      padding: 25px 15px 80px;
    }
    &__body-momil {
      display: flex;
    }
    &__body-title{
      margin-bottom: 35px;
      font-size: 75px;
    }
    &__body-content {
      width: 100%;
      max-width: none;
      text-align: center;
      align-items: center;
      margin-left: 0px;
    }
    &__col-number {
      position: relative;
      margin-bottom: 50px;
    }
  }

  .button {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .header{ 
    &__body-title{
      margin-bottom: 35px;
      font-size: 12vw;
    }

  }
}

@media (max-width: 500px) {
  .header {
    
    &__geolocation p{
      display: none;
    }
  }

  .nav {
    &__item {
      border-top: 1px solid var(--brown);
      padding: 20px;
      width: 100%;
    }
  }
  
  .accordion-list {
    &__control {
      padding: 20px;
    }
  }
  .modal {
    position: fixed;
    inset: 0;
    background: #00000070;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  
    &__window {
      background: var(--bg);
      border-radius: 20px;
      padding: 45px 70px;
      margin: 0 15px 0;
      max-width: 400px;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    &__cancel {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      transition: 0.5s;
      padding: 5px;
    }
  
    &__cancel:hover path,
    rect {
      stroke: #59443F;
    }
  
    &__title {
      @extend %h4-section2-4-6;
      font-weight: 400;
      margin-bottom: 60px;
    }
  
    &__item {
      margin-bottom: 40px;
    }
  
    &__link {
      @extend %text-section1;
      background: transparent;
      transition: all .5s;
    }
  
    &__link:hover {
      font-size: 25px;
    }
  }
}