:root {
	--brown: #59443f;
	--orange: #ffc59e;
	--text: #080606;
	--bg: #fffefe;
	--brown-light: #c3b9b5;
	--brown-bg: #ede9e8;
  --footer: #fff;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Playfair Display", sans-serif;
}