@import "reset";
@import "fonts";
@import "vars";
@import "mixins";

/*=====================Глобальные настройки ==========================*/

.body {
  background-color: var(--bg);
}

.body--modal-opened {
  opacity: 1;
  overflow: hidden;
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  height: 100%;
}

.modal {
  position: fixed;
  inset: 0;
  background: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;

  &__window {
    background: var(--bg);
    border-radius: 20px;
    padding: 45px 123px;
    margin: 0 15px 0;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
  }

  &__cancel:hover path,
  rect {
    stroke: #59443F;
  }

  &__title {
    @extend %h4-section2-4-6;
    font-weight: 400;
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__link {
    @extend %text-section1;
    background: transparent;
    transition: all .5s;
  }

  &__link:hover {
    font-size: 25px;
  }
}

.body--modal-opened .modal {
  opacity: 1;
  visibility: visible;
}

/*=====================header__top ==========================*/

.header {

  &__logo {
    align-self: center;
    z-index: 18;
    transition: all .5s;
  }

  &__geolocation-mobil {
    display: none;
    align-self: center;
    align-items: center;
    gap: 20px;
    @extend %text-orange-section2;
    text-transform: uppercase;
  }

  &__top-inner {
    padding: 65px 15px 130px;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  &__geolocation {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
    @extend %text-orange-section2;
    text-transform: uppercase;
  }

  &__geolocation-city {
    display: none;
  }

  &__geolocation-city--show {
    display: flex;
  }
}

.nav {
  &__list {
    padding-left: 14%;
    display: flex;
    align-items: center;
    gap: 80px;
    @extend %text-header;
    
  }

  &__item {
    position: relative;
    transition: all .5s;
  }

  &__item:hover {
    color: #59443F;
  }

  &__item {
    padding: 30px 0;
  }

  &__item:nth-child(3):hover .additional__nav-list {
    opacity: 1;
    visibility: visible;
  }

  &__item:nth-child(3):hover .nav__link--nav path, rect {
    stroke: var(--brown);
    fill: var(--brown);
  }

  &__item:nth-child(3):hover .nav__link--nav svg {
    transform: rotate(90deg);
  }

  &__link--nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link--nav path {
    transition: all .5s;
    stroke: var(--brown-light);
    fill: var(--brown-light);
  }

  &__link--nav svg {
    transition: all .5s;
  }

}

.additional {
  &__nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -50%;
    min-width: 300px;
    padding:30px;
    background-color: var(--bg);
    border-radius: 16px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    @extend %text-section2-4-6;
    font-size: 16px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    text-transform: none;
    z-index: 1;
  }


  &__nav-item {
    transition: all .5s;

  }

  &__nav-item:hover {
    font-size: 20px;
  }
}

/*===============================Акордеон==============================*/ 

.accordion-list {
  display: none;
  width: 100%;
  &__control-icon path {
    stroke: #fff;
    fill: #fff;
  }
  
  &__item {
    border-top: 1px solid var(--brown);
    background: transparent;
    text-align: center;
  }
  
  &__item:last-child {
    margin-bottom: 0px;
  }
  
  &__control {
    text-align: center;
    padding: 33px;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all .5s; 
  }
  &__control:hover {
    color: var(--brown);
  }
  
  &__item--opened .accordion-list__control {
    padding: 20px 30px;
    color: var(--brown);
  }
  
  &__control-icon path{
    transition: all .5s;
  }
  
  &__control:hover .accordion-list__control-icon path {
    fill: var(--brown);
    stroke: var(--brown);
    transition: all .5s;
  }
  
  &__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    transition: all .5s;
  }
  
  &__item--opened .accordion-list__control-icon path {
    fill: var(--brown);
    stroke: var(--brown);
  }
  
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
  }
  
  &__item--opened .accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
  }
}

.accordion-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}

.additional__nav-item {
  padding: 20px 0;
  transition: all .5s;
}
.additional__nav-item:hover {
  color: var(--brown);
}
.additional__nav-item:last-child {
  padding: 20px 0 40px;
}

/*======================бургер меню====================================*/ 

.burger-icon {
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--orange);
  z-index: 10;
  transition: all .3s;
}
.body--opened-menu .burger-icon {
  border: 4px solid var(--brown);
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
  content: '';
  position: relative;
  border-radius: 10px;
  width: 40px;
  height: 3px;
  background: var(--orange);
  transition: all .3s;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}
.burger-icon span::after {
  position: absolute;
  bottom: 10px;
}
.body--opened-menu .burger-icon span::after {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  background: var(--brown);
}

.burger-icon span::before {
  position: absolute;
  top: 10px;
}
.body--opened-menu .burger-icon span::before {
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  background: var(--brown);
}

/*================header__hero=============================*/
/*================Слайдеры=================================*/ 



.splide__pagination--ttb {
  right: auto;
  left: 3%;
  gap: 70px;
  justify-content: start;
}

.splide__pagination__page {
  background: transparent;
  @extend %text-header;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.splide__pagination__page.is-active {
  background: transparent;
  @extend %text-header;
  color: #59443F;
  position: relative;
}

.splide__pagination__page.is-active::before {
  content: url(../img/icon/process.svg);
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*================header__body=================================*/ 

.header{
  &__body {
    display: flex;
    justify-content: space-between;
  }
  
  &__body-content {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    max-width: 826px;
  }
  
  &__body-title {
    @extend %h1-header;
    margin-bottom: 75px;
  }

  &__body-socials {
    display: flex;
    gap: 50px;
  }
  
  &__body-social path {
    transition: all .5s;
  }
  
  &__body-social:hover path {
    fill: var(--brown);
  }
  
  &__body-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
  }

  &__col-number {
    position: absolute;
    bottom: 9%;
    right: 0px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: var(--brown);
    transition: all .5s;
    z-index: 1;
  }
  
  &__col-number:hover {
    filter: drop-shadow(0 5px 20px var(--brown));
  }
}


.button {
  display: flex;
  border-radius: 33px;
  width: 284px;
  height: 66px;
  box-shadow: 0 4px 20px 0 var(--orange);
  background: var(--orange);
  align-items: center;
  justify-content: center;
  margin-bottom: 197px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  transition: all .5s;
}

.button:hover {
  background: var(--brown);
  box-shadow: none;
}

#header-img-slider {
  max-height: 780px;
}

#header-img-slider2 {
  width: 500px;
  transform: translateX(-150px);
}

#header__col-number4 {
  transform: translateY(180%);
}

#header-img-slider6 {
  max-height: 600px;
  transform: translateY(15%);
}

#header__col-number6 {
  transform: translateY(550%);
}

.header__body-momil {
  display: none
}


/*========================================================*/
/*======================Адаптив===========================*/
/*========================================================*/

@import "media.scss";