@import "reset";
@import "fonts";
@import "vars";
@import "mixins";

/*=====================Глобальные настройки ==========================*/

.body {
  background-color: var(--bg);
}

.body--modal-opened {
  opacity: 1;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.modal {
  position: fixed;
  inset: 0;
  background: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;

  &__window {
    background: var(--bg);
    border-radius: 20px;
    padding: 45px 123px;
    margin: 0 15px 0;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
  }

  &__cancel:hover path,
  rect {
    stroke: #59443F;
  }

  &__title {
    @extend %h4-section2-4-6;
    font-weight: 400;
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__link {
    @extend %text-section1;
    background: transparent;
    transition: all .5s;
  }

  &__link:hover {
    font-size: 25px;
  }
}

.body--modal-opened .modal {
  opacity: 1;
  visibility: visible;
}

/*=====================header__top ==========================*/

.header {
  &__top-inner {
    padding: 65px 0 130px;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  &__geolocation {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
    @extend %text-orange-section2;
    text-transform: uppercase;
  }

  &__geolocation-city {
    display: none;
  }

  &__geolocation-city--show {
    display: flex;
  }

}

.nav {
  &__logo {
    align-self: center;
  }

  &__list {
    padding-left: 16%;
    display: flex;
    align-items: center;
    gap: 80px;
    @extend %text-header;
  }

  &__item {
    position: relative;
    transition: all .5s;
  }

  &__item:hover {
    color: #59443F;
  }

  &__item:nth-child(2) {
    padding: 30px 0;
  }

  &__item:nth-child(2):hover .additional__nav-list {
    opacity: 1;
    visibility: visible;
  }

  &__item:nth-child(2):hover .nav__link--nav path,
  rect {
    stroke: #59443F;
  }

  &__item:nth-child(2):hover .nav__link--nav svg {
    transform: rotate(90deg);
  }

  &__link--nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link--nav path {
    transition: all .5s;
    stroke: var(--brown-light);
    fill: var(--brown-light);
  }

  &__link--nav svg {
    transition: all .5s;
  }

}

.additional {
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 100%;
    left: -50%;
    min-width: 300px;
    padding: 30px 0px 30px 30px;
    background-color: var(--bg);
    border-radius: 16px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    @extend %text-section2-4-6;
    font-size: 16px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    text-transform: none;
    z-index: 1;
  }

  &__nav-item {
    transition: all .5s;
  }

  &__nav-item:hover {
    font-size: 20px;
  }
}


/*================header__hero=============================*/

.splide__pagination--ttb {
  right: auto;
  left: 2%;
  gap: 70px;
  justify-content: start;
}

.splide__pagination__page {
  background: transparent;
  @extend %text-header;
  display: flex;
  justify-content: center;
}

.splide__pagination__page.is-active {
  background: transparent;
  @extend %text-header;
  color: #59443F;
  position: relative;
}

.splide__pagination__page.is-active::before {
  content: url(../img/icon/process.svg);
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__hero-slide {}

.splide__slide {}

.header__body {
  display: flex;
  justify-content: space-between;
}

.header__body-content {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  max-width: 826px;
}

.header__body-title {
  @extend %h1-header;
  margin-bottom: 75px;
}

.button {
  display: flex;
  border-radius: 33px;
  width: 284px;
  height: 66px;
  box-shadow: 0 4px 20px 0 var(--orange);
  background: var(--orange);
  align-items: center;
  justify-content: center;
  margin-bottom: 197px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  transition: all .5s;
}

.button:hover {
  background: var(--brown);
  box-shadow: none;
}

.header__body-socials {
  display: flex;
  gap: 50px;
}

.header__body-social path {
  transition: all .5s;
}

.header__body-social:hover path {
  fill: var(--brown);
}

.header__body-img {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

#header-img-slider {
  max-height: 780px;
}
#header__col-number4 {
  transform: translateY(180%);
}
#header-img-slider6 {
  max-height: 600px;
  transform: translateY(15%);
}
#header__col-number6 {
  transform: translateY(550%);
}


.header__col-number {
  position: absolute;
  bottom: 10%;
  right: 0px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: var(--brown);
  transition: all .5s;
  z-index: 1;
}

.header__col-number:hover {
  filter: drop-shadow(0 5px 20px var(--brown));
}