:root{
    --accent-text: #1D6FB6;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: #F8FCFF;
    color: #25282B;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    gap: 10px 0;
}

/* ====================================================== */

.header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    transition: all 0.8s;
    padding: 5px 15px;
    padding: 5px 15px;
    border-radius: 100px;
}

.nav__item:hover {
    background: #83ADD3;
    transition: all 0.5s;
    color: #F8FCFF;
    box-shadow: 0px 0px 15px #83ADD3;
}

.nav__link {
    font-size: 16px;
    font-weight: 400;
}

.header__logo {
    max-width: 54px;
    transition: all 0.6s;
}

.header__logo:hover {
    transform: translateY(-10%);
}

.social__list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.social__item {
    transition: all 0.8s;
    padding: 5px 15px;
    border-radius: 100px;
}

.social-inst {
    transition: all 0.8s;
    padding: 5px 15px;
    border-radius: 100px;
}

.social-yb {
    transition: all 0.8s;
    padding: 5px 15px;
    border-radius: 100px;
}

.social__item:hover {
    background: #83ADD3;
    transition: all 0.8s;
    color: #F8FCFF;
    box-shadow: 0px 0px 15px #83ADD3;
}

.social-inst:hover {
    background: #c12ca6;
    transition: all 0.8s;
    color: #F8FCFF;
    box-shadow: 0px 0px 15px #c12ca6;
}

.social-yb:hover {
    background: red;
    transition: all 0.8s;
    color: #F8FCFF;
    box-shadow: 0px 0px 15px red;
}

.social__link {
    font-size: 16px;
    font-weight: 400;
}

/* ============================================================ */

.hero {
    position: relative;
}

.hero__inner {
    padding: 120px 0;
    color: #F8FCFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    padding-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.hero__item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    gap: 18px;
    transition: all 0.5s;
}

.hero__item:hover {
    color: var(--accent-text);
    transition: all 0.5s;
}

.hero__item path {
    transition: all 0.5s;
}

.hero__item:hover path {
    fill: var(--accent-text);
    transition: all 0.5s;
}

.hero__item:last-child {
    padding-bottom: 40px;
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero__media::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #102e49cc;
}

.button {
    color: var(--accent-text);
    font-size: 16px;
    font-weight: 500;
    background: #D0DCE7;
    max-width: 140px;
    max-height: 56px;
    width: 100%;
    padding: 18px 30px;
    text-align: center;
    border-radius: 100px;
    transition: all 0.5s;
}

.button:hover {
    background: #83ADD3;
    color: #F8FCFF;
    transition: all 0.5s;
    max-width: 288px;
}

/* ===================================================================== */

.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    gap: 127px;
    align-items: start;
}

.main__body {
    position: relative;
}

.main__siderbar{
    position: sticky;
    top: 5vh;
}

.siderbar {
    line-height: 20px;
    padding: 30px;
    border: 2px solid #D0DCE7;
    max-width: 282px;
    width: 100%;
    min-height: 80vh;
}


.siderbar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.siderbar__item {
    color: #25282B;
    font-size: 16px;
    font-weight: 500;
}

/* =============================================== */

.main__body {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    line-height: 20px;
    color: #F8FCFF;
}

.gallery__main {
    margin-bottom: 120px;
    
}

.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img--largen-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--largen-right {
    grid-column: 3/5;
    grid-row: span 2;
}

.gallery__hint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d6fb6cc;
    font-weight: 500;
    height: 52px;

    transform: translateY(100%);
    transition: all 0.5s;
    opacity: 0;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--largen-left .gallery__hint,
.gallery__img--largen-right .gallery__hint {
    height: 108px;
    font-size: 24px;
}

/* ============================================================ */

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.product__item {
    max-width: 384px;
    position: relative;

}

.product__item-img {
    position: relative;
    padding-bottom: 62.1%;
}

.product__item-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item {
    border: 1px solid #D0DCE7;
    border-top: 0;
    padding: 30px 15px;
}

.product-hit {
    position: absolute;
    top: 8.5%;
    left: 0;
    font-weight: 500;
    color: var(--accent-text);
    text-align: center;
    background: #F8FCFF;
    padding: 18px 23px;
    border-radius: 0px 100px 100px 0px;
    min-width: 34%;

    animation: hit-action 2s infinite alternate;
}

@keyframes hit-action {
    0% {
        min-width: 34%;
    }
    55.555%{
        min-width: 34%;
    }
    100% {
        min-width: 37.7%;
    }
}

.products__button {
    margin: 0 auto;
}

/* ================================================= */

.footer{
    background: #788088;
}

.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: #F8FCFF;
    font-weight: 400;
}

.fotter__item{
    display: flex;
    gap: 10px;
    transition: all 0.5s;
}

.fotter__item:hover {
    color: var(--accent-text);
}

.fotter__item path {
    transition: all 0.5s;
}

.fotter__item:hover path {
    fill: var(--accent-text);
    transition: all 0.5s;
}

